@import "@/styles/variables.scss";
.headline {
  color: $primary-color;
  padding: 1rem;
}
.dialog-action-buttons {
  display: flex;
  justify-content: flex-end;
}
.cancel-dialog-button {
  color: $cancel-color !important;
  background-color: white;
}

.signup-button {
  width: 100%;
  text-align: center;
}
