.card-trade-container {
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  // background-image: url(../../../../assets/Heading.png);
  // background-position: center;
  // background-size: cover;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.action-buttons {
  text-transform: none;
  justify-content: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  overflow-y: auto;
  overflow-x: hidden;
}

.v-card-title {
  display: flex;
  justify-content: center;
}
.image {
  padding-top: 0.5rem;
}
.infoRequested {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
}
