.e-commerce-card {
  /* Espaçamento entre os cartões */

  height: 400px; /* Altura fixa para os cartões */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo exceder a altura */
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 11px;
}

.subtitle {
  white-space: break-spaces;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  &-btn {
    text-transform: none;
  }

  @media screen and (max-width: 350px) {
    flex-direction: column;
    gap: 6px;
  }
}
