@import "@/styles/variables.scss";
.container-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.signup-button {
  color: white;
  &-icon {
    padding-right: 0.375rem;
  }
}
.submit-button {
  width: 100%;
}
.main-container {
  max-width: 100% !important;
  background: $default-gradient;
}

.card-box {
  max-width: 25.33%;
  @media screen and (max-width: 768px) {
    max-width: max-content;
  }
}
.headline {
  color: $primary-color;
  padding: 1rem;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.hint-register {
  color: $primary-color !important;
  display: flex !important;
  justify-content: center !important;
  white-space: nowrap !important;
}
