@import "@/styles/variables.scss";
.e-commerce-card {
  height: 300px;
  overflow-y: auto;
  box-shadow: 0 0.125rem 1rem 0 rgba(0, 0, 0, 0.25);
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 0.6875rem;
}
.container {
  max-width: 12.5rem;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}
.subtitle {
  white-space: break-spaces;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  &-btn {
    text-transform: none;
  }

  @media screen and (max-width: 350px) {
    flex-direction: column;
    gap: 0.375rem;
  }
}
.headline {
  color: $primary-color;
  padding: 1rem;
}
.dialog-action-buttons {
  display: flex;
  justify-content: flex-end;
}
.cancel-dialog-button {
  color: $cancel-color !important;
  background-color: white;
}
.dialog-autocomplete {
  padding: 1rem;
}

.timeStamp {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.image {
  padding-top: 0.1875rem;
}
