@import "@/styles/variables.scss";
.dialog-action-buttons {
  display: flex;
  justify-content: flex-end;
}
.cancel-dialog-button {
  color: $cancel-color !important;
  background-color: white;
  &.delete {
    color: $primary-color !important;
  }
}
.headline {
  color: $primary-color;
  padding: 1rem;
  text-align: center;
  &.delete {
    color: $cancel-wine-color;
    text-align: start;
    padding-left: 2rem;
  }
}
.helper-text {
  text-align: center;
  &.delete {
    padding: 1rem;
  }
}
