.main-container {
  max-width: 100% !important;
  padding: 0rem !important;
  background: linear-gradient(to bottom, #1c64c4, #ffffff);
}
.toolbar {
  background-color: #1c64c4;
  color: white;
  font-family: Poppins, sans-serif;
}

.e-commerce-card {
  margin-bottom: 20px; /* Espaçamento entre os cartões */
}
.tabs {
  display: flex;
}
:deep(.v-slide-group__content) {
  justify-content: space-between;
}
